<template>
  <div class="home">
   <Blog_top />
   <Blog />
  </div>
</template>

<script>
// @ is an alias to /src
import Blog_top from "@/components/Blog_top.vue";
import Blog from "@/components/Blog.vue";

export default {
  
  name: "home",

  components: {
    Blog_top, Blog
  }
};
</script>
