<template>
    <div class="main">
        <Contact_top />
        <Contact />
    </div>
</template>

<script>

import Contact_top from "@/components/Contact_top.vue";
import Contact from "@/components/Contact.vue";

export default {
    name: "main",

    components: {
        Contact_top, Contact
    }
}
</script>