<template>
  <div class="home">
    <Top />
    <What_do />
    <Testimonials />
    <Featured_project />
    <Blog_posts />
  </div>
</template>

<script>
// @ is an alias to /src
import Top from "@/components/Top.vue";
import What_do from "@/components/What_do.vue";
import Testimonials from "@/components/Testimonials.vue";
import Featured_project from "@/components/Featured_project.vue";
import Blog_posts from "@/components/Blog_posts.vue";

export default {
  
  name: "home",

  components: {
    Top, What_do, Testimonials, Featured_project, Blog_posts
  }
};
</script>
