<template>
    <div class="main">
        <Portfolio_top />
        <Portfolio_main />
    </div>
</template>

<script>

import Portfolio_top from "@/components/Portfolio_top.vue";
import Portfolio_main from "@/components/Portfolio_main.vue";

export default {
    name: "main",

    components: {
        Portfolio_top, Portfolio_main
    }
}
</script>