<template>
  <div class="home">
   <Resume_top />
   <Resume_card />
  </div>
</template>

<script>
// @ is an alias to /src
import Resume_top from "@/components/Resume_top.vue";
import Resume_card from "@/components/Resume_card.vue";

export default {
  
  name: "home",

  components: {
    Resume_top, Resume_card
  }
};
</script>
