<template>
  <div class="home">
    <service_top />
    <service_table />
    <service_FAQ />
  </div>
</template>

<script>
// @ is an alias to /src
import service_top from "@/components/service_top.vue";
import service_table from "@/components/service_table.vue";
import service_FAQ from "@/components/service_FAQ.vue";

export default {
  
  name: "home",

  components: {
    service_top, service_table, service_FAQ
  }
};
</script>
