<template>
    <div class="home">
        <v-card elevation="0" rounded="0" class="px-6" align="center" :class="[$vuetify.theme.dark? 'none' : 'grey lighten-3']">
            <v-row>
            <v-col class="col-12 mb-6" align="center">
                <h1 class="mt-6">{{heading}}</h1>
                <div align="center">
                    <p>{{text}}</p>
                    <v-row>
                        <div class="mx-auto">
                            <v-row>
                                <v-col cols="12" sm="8">
                            <v-text-field dense label="Enter Email" single-line medium outlined></v-text-field>
                        </v-col>
                        <v-col cols="12" class="mx-auto" sm="4">
                            <v-btn color="success">Subscribe</v-btn>
                        </v-col>
                            </v-row>
                        </div>
                        
                    </v-row>
                </div>
                 
            </v-col>
            
        </v-row>
        </v-card>
    </div>
</template>

<style scoped>
    .home {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
</style>

<script>
export default {
    data: () => {
        return {
            heading: 'A Blog About Software Development And Life',
            text: 'Welcome to my blog. Subscribe and get my latest blog post in your inbox.',
            
        }

    }
}
</script>