<template>
    <div>
        <v-card elevation="0" rounded="0" class="px-6">
            <v-row>
            <v-col class="col-12">
                <v-row height="400" class="mt-6 px-6">
                    <v-col class="col-12 col-md-4" v-for="blog in blogs" v-bind:key="blog.id">
                         <v-card elevation="1" style="height:500px; width: 400px;">
                            <v-card-avatar v-for="image in blog.src" v-bind:key="image" style="border-radius:0;" size="200">
                            <v-img :src="image" ></v-img>
                            </v-card-avatar>
                            <v-col class="px-6 mb-3" style="height:40px; width: 400px;">
                                <a href="" class="px-0 mt-10" style="font-size:16px;">
                                {{blog.title}}
                                </a>
                            </v-col>
                            <v-col class="px-6">
                                <p style="font-size:14px;">{{blog.subtitle}}</p>
                            </v-col>

                            <v-col class="px-6">
                                <a href="" class="px-0" style="font-size:12px;">{{blog.link}}</a><br/>
                                <p class="mt-6" style="font-size:12px;">{{blog.text}}</p>
                            </v-col>
                        </v-card>
                        <v-col class="mb-12"></v-col>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
        </v-card>
    </div>
</template>

<script>
export default {
    data: () => {
        return {
            text: 'hello',
            blogs: [
                    {
                        id: 1, 
                        title: 'Top 3 JavaScript Frameworks', 
                        subtitle: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...',
                        src: ['image_1.jpg'],
                        link: 'Read more →',
                        text: 'Published 2 days ago'
                    },

                    { 
                        id: 2, 
                        title: 'About Remote Working' , 
                        subtitle: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...',
                        src: ['image_2.jpg'],
                        link: 'Read more →',
                        text: 'Published a week ago'
                    },

                    { 
                        id: 3, 
                        title: 'A Guide to Becoming a Full-Stack Developer' , 
                        subtitle: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...',
                        src: ['image_3.jpg'],
                        link: 'Read more →',
                        text: 'Published 3 weeks ago'
                    },

                    {
                        id: 4, 
                        title: 'High Performance JavaScript' , 
                        subtitle: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...',
                        src: ['image_4.jpg'],
                        link: 'Read more →',
                        text: 'Published 1 month ago'

                    },
                    {
                        id: 5, 
                        title: 'Learn React in 24 Hours' , 
                        subtitle: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...',
                        src: ['image_5.jpg'],
                        link: 'Read more →',
                        text: 'Published 1 month ago'

                    },
                    {
                        id: 6, 
                        title: 'How to Build Desktop Apps with HTML, CSS and JavaScript' , 
                        subtitle: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...',
                        src: ['image_6.jpg'],
                        link: 'Read more →',
                        text: 'Published 2 months ago'

                    }
                ],
        }
    }
}
</script>