<template>
    <v-card elevation="0">
        <div  class="center ">
            <v-card class="mb-6">
                <v-col class="mt-6 col-12" align="center">
                    <h3>{{heading}}</h3>
                    <v-row>
                        <v-col class="12 col-md-6" md="6" align="center">
                            <v-text-field color="teal darken-1" label="Name" outlined dense></v-text-field>
                        </v-col>
                        <v-col class="12 col-md-6" md="6" align="center">
                            <v-text-field color="teal darken-1" dense label="Email" outlined></v-text-field>
                        </v-col>
                        <v-col style="margin-top:-1.2rem;" class="d-flex" cols="12" md="12">
                            <v-select color="teal darken-1" :items="items" block label="Select a service package you're interested in.." outlined hint="Want to know what's included in each package? Check the Services & Pricing page." persistent-hint></v-select>
                        </v-col>
                        <v-col class="col-12" style="margin-top:-1.2rem;" md="12" align="center">
                            <v-textarea color="teal darken-1" block label="Enter your message" outlined name="input-7-4" height="300"></v-textarea>
                        </v-col>
                        <v-col class="col-12" style="margin-top:-2rem;" md="12" align="center">
                            <v-btn color="teal darken-1" block dense>Send Now</v-btn>
                        </v-col>
                        
                    </v-row>
                </v-col>
            </v-card>
            <v-card elevation="0" style="width:100px; height:100px;">

            </v-card>
    </div>
    </v-card>
</template>

<style scoped>
    .center {
        margin: auto;
        width: 60%;
        padding: 10px;
    }
</style>

<script>
export default {
    data: () => {
        return {
            heading: 'Get In Touch',
            items: [
                'Basic', 
                'Standard', 
                'Premium',
                'Not sure'
            ],
        }
    }
}
</script>
