<template>
    <div class="mx-auto home">
        <v-card elevation="0" rounded="0" class= "px-6" align="center" :class="[$vuetify.theme.dark? 'none' : 'grey lighten-3']">
            <div class="mx-auto">
            <v-col class="col-7">
                <h1 class="mt-6">{{heading}}</h1>
                <div>
                    <v-row class="fill-height ma-0 py-6" align="center" justify="center">
                        <v-btn height="100" width="100" fab><img height="100" width="100" style="border-radius:50%;" src="contact.jpg" @click="hidden = !hidden"></v-btn>
                    </v-row>
                    <v-row>
                        <v-card class="rounded-card px-6 py-6 mb-6" v-show="!hidden">
                            <v-row>
                                <div v-html="text">

                                </div>
                            </v-row>
                            <v-row class="mt-6" align="center" justify="center">
                                <h4>You can also find me on the following channels</h4>
                            </v-row>
                            <v-row class="mt-6" align="center" justify="center">
                                <v-btn class="mr-3" dark small fab flat color="light-blue"><v-icon>mdi-twitter</v-icon></v-btn>
                                <v-btn class="mr-3" dark small fab flat color="blue darken-4" m-3><v-icon>fa fa-linkedin</v-icon></v-btn>
                                <v-btn class="mr-3" dark small fab flat color="blue-grey " mb-3><v-icon>fa fa-github-alt</v-icon></v-btn>
                                <v-btn class="mr-3" dark fab small flat color="amber accent-4" mb-3><v-icon>mdi-stack-overflow</v-icon></v-btn>
                                <v-btn class="mr-3" dark fab small flat color="black" mb-3><v-icon>fa fa-codepen</v-icon></v-btn>
                                <v-btn class="mr-3" dark fab small flat color="pink" mb-3><v-icon>mdi-instagram</v-icon></v-btn>
                            </v-row>
                        </v-card>
                    </v-row>
                </div>
                
            </v-col>
            
        </div>
        </v-card>
    </div>
</template>


<style scoped>
    a:link {
    text-decoration: none;
    font-size: 1rem;
    color: seagreen;
    }

    .home {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

    a:visited {
    text-decoration: none;
    }

    a:hover {
    text-decoration-color: blue;
    }

    a:active {
    text-decoration: underline;
    }
    .rounded-card{
        border-radius:30px;
    }

</style>

<script>
export default {
    data: () => {
        return {
            hidden: false,
            heading: 'Contact',
            text: '<p>I\'m currently taking on freelance work. If you are interested in hiring me for your project please use the form below to get in touch. Want to know how I work and what I can offer? Check out my <a style="color:blue;"> project case studies</a> and <a style="color:blue;"> resume</a>.</p> ',
            link: 'simon.doe@yourwebsite.com',
            text2: 'Want to get connected? Follow me on the social channels below.',
            icons: [
            {
                id: 1,
                symbol: 'mdi-twitter'
            },
            {
                id: 2,
                symbol: 'fa fa-linkedin'
            },
            {
                id: 3,
                symbol: 'mdi-github-face'
            },
            {
                id: 4,
                symbol: 'mdi-instagram'
            },
            {
                id: 5,
                symbol: 'mdi-stack-overflow'
            },
            {
                id: 6,
                symbol: 'mdi-medium'
            },
            {
                id: 7,
                symbol: 'mdi-codepen'
            }
        ],
        }
    }
}
</script>