<template>
    <div class="blog">
        <v-card rounded="0">
            <v-row class="px-6">
            <v-col class="col-12">
                <v-card class="px-6 py-10" elevation="0">
                <v-row class="px-3">
                    <h2 class="line resume-section-heading mb-4 mt-4">Latest Blog Posts</h2>
                </v-row>
                <v-row height="400">
                    <v-col class="col-12 col-md-4" v-for="blog in blogs" v-bind:key="blog.id">
                        <v-card elevation="1" style="height:500px; width: 400px;">
                            <v-card-avatar v-for="image in blog.src" v-bind:key="image" style="border-radius:0;" size="200">
                            <v-img :src="image" ></v-img>
                            </v-card-avatar>
                            <v-col class="px-6 mb-3" style="height:40px; width: 400px;">
                                <a href="" class="px-0 mt-10">
                                {{blog.title}}
                                </a>
                            </v-col>
                            <v-col class="px-6">
                                <p style="font-size:14px;">{{blog.subtitle}}</p>
                            </v-col>

                            <v-col class="px-6">
                                <a href="" class="px-0" style="font-size:12px;">{{blog.link}}</a><br/>
                                <p class="mt-6" style="font-size:12px;">{{blog.text}}</p>
                            </v-col>
                        </v-card>
                    </v-col>
                </v-row>
                <v-row class="">
                    <v-card elevation="0" class="mx-auto">
                    <v-col :justify="center" :alignment="center">
                        <p class="text-md-center my-10"><v-btn large dark color="#4BB462" class="mx-1 btn btn-primary mr-2 mb-3" 
                        style="alignment:center; justify:center;">
                        <v-icon>mdi-arrow-right-bold-circle</v-icon>View Blog</v-btn></p>
                    </v-col>
                    </v-card>
                </v-row>
                </v-card>
            </v-col>
            </v-row>
        </v-card>
    </div>
</template>

<style>

</style>

<style scoped>
    .line {
        border-left: 5px solid rgb(20, 156, 79);
        padding-left: 1rem;
        border-width: 0.2em;
    }
    a:link {
  text-decoration: none;
  font-size: 1rem;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration-color: blue;
}

a:active {
  text-decoration: underline;
}
</style>

<script>
    export default {
        data: () => {
            return {
                blogs: [
                    {
                        id: 1, 
                        title: 'Top 3 JavaScript Frameworks', 
                        subtitle: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...',
                        src: ['image_1.jpg'],
                        link: 'Read more →',
                        text: 'Published 2 days ago'
                    },

                    { 
                        id: 2, 
                        title: 'About Remote Working' , 
                        subtitle: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...',
                        src: ['image_2.jpg'],
                        link: 'Read more →',
                        text: 'Published a week ago'
                    },

                    { 
                        id: 3, 
                        title: 'A Guide to Becoming a Full-Stack Developer' , 
                        subtitle: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...',
                        src: ['image_3.jpg'],
                        link: 'Read more →',
                        text: 'Published 3 weeks ago'
                    },
                ],
            }
            
        }
    }
</script>