<template>
    <div class="project">
        <v-card rounded="0">
          <v-row class="ml-12 mt-6">
            <h2 class="line resume-section-heading mb-4 mt-4">Featured Projects</h2>
          </v-row>
            <v-row class="px-12">
            <v-col class="col-12 col-md-12">
                <v-container class="home">
                <v-tabs v-model="tab" background-color="dark" centered color="success" text>
                    <v-tab v-for="item in items" :key="item.tabs">{{item.tabs}}</v-tab>
                    <v-tab-item transition="scale-transition" reverse-transition="fab-transition" v-for="item in items" :key="item.tabs">
                    <v-row transition="scale-transition" >
                        <v-col class="col-12 col-md-6 px-3" v-for="(category,index) in item.categories" :key="index">
                        <v-hover>
                            <template v-slot:default="{ hover }">
                            <v-card elevation="1" style="width:420px; height:220px;">
                                <v-row>
                                <v-col class="col-5 ml-0 py-0" >
                                    <v-card-avatar v-for="image in category.src" v-bind:key="image">
                                    <v-img :src="image" style="width:240px; height:220px;"></v-img>
                                    </v-card-avatar>
                                </v-col>
                                <v-col class="text col-7">
                                    <h3><u>{{category.heading}}</u></h3><br/>
                                    <p class="mr-2" style="font-size:14px;">{{category.title}}</p>
                                    <p style="font-size:10px;">{{category.client}}</p>
                                    <v-fade-transition>
                                    <v-overlay v-if="hover" absolute color="teal" light>
                                        <v-btn><v-icon>mdi-eye</v-icon>{{category.icon}}</v-btn>
                                    </v-overlay>
                                    </v-fade-transition>
                                </v-col>

                                </v-row>
                            </v-card>
                            </template>
                        </v-hover>
                        </v-col>
                        
                    </v-row>
                    </v-tab-item>
                </v-tabs>
                </v-container>
            </v-col>
            <v-col class="mb-12">

                        </v-col>
            </v-row>
      </v-card>
    </div>
</template>

<style scoped>
    .line {
        border-left: 5px solid rgb(20, 156, 79);
        padding-left: 1rem;
        border-width: 0.2em;
    }
  .home{
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
  
  .text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
</style>

<script>
  export default {
    data: () => {
      return {
        tab: null,
        overlay: false,
        items: [
          {
            tabs: "All",
            categories: [
              {
                icon: 'View case study',
                heading: 'Project Heading',
                client: 'Client: Google',
                title: 'Project intro, lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes.', 
                src: ['blog-1.jpg']
              },
              {
                icon: 'View case study',
                heading: 'Project Heading',
                client: 'Client: Dropbox',
                title: 'Project intro, lorem ipsum dolor sit amet, consectetuer adipiscing elit.  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.' , 
                src: ['blog-2.jpg'],
              },
              {
                icon: 'View case study',
                heading: 'Project Heading',
                client: 'Client: Google',
                title: 'Project intro, lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.', 
                src: ['blog-3.jpg']
              },
              { 
                icon: 'View case study',
                heading: 'Project Heading',
                client: 'Client: Startup Hub',
                title: 'Project intro, lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.' , 
                src: ['blog-4.jpg']
              },
              { 
                icon: 'View case study',
                heading: 'Project Heading',
                client: 'Client: SalesForce',
                title: 'Project intro, lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.' , 
                src: ['blog-5.jpg']
              },
              { 
                icon: 'View case study',
                heading: 'Project Heading',
                client: 'Client: Uber',
                title: 'Project intro, lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.' , 
                src: ['blog-6.jpg']
              },
              { 
                icon: 'View case study',
                heading: 'Project Heading',
                client: 'Client: Lift',
                title: 'Project intro, lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.' , 
                src: ['blog-7.jpg']
              },
              { 
                icon: 'View case study',
                heading: 'Project Heading',
                client: 'Client: GitLab',
                title: 'Project intro, lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.' , 
                src: ['blog-8.jpg']
              },
            ],
          },
          {
            tabs: "Web App",
            categories: [
              {
                icon: 'View case study',
                heading: 'Project Heading',
                client: 'Client: Google',
                title: 'Project intro, lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes.', 
                src: ['blog-1.jpg']
              },
              {
                icon: 'View case study',
                heading: 'Project Heading',
                client: 'Client: Dropbox',
                title: 'Project intro, lorem ipsum dolor sit amet, consectetuer adipiscing elit.  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.' , 
                src: ['blog-2.jpg'],
              },
              {
                icon: 'View case study',
                heading: 'Project Heading',
                title: 'Project intro, lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.', 
                src: ['blog-3.jpg']
              },
            ],
          },
          {
            tabs: "Mobile App",
            categories: [
              { 
                icon: 'View case study',
                heading: 'Project Heading',
                client: 'Client: Uber',
                title: 'Project intro, lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.' , 
                src: ['blog-4.jpg']
              },
              {  
                icon: 'View case study',
                heading: 'Project Heading',
                client: 'Client: Uber',
                title: 'Project intro, lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.' , 
                src: ['blog-5.jpg']
              },
              {
                icon: 'View case study',
                heading: 'Project Heading',
                client: 'Client: Uber',
                title: 'Project intro, lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.' , 
                src: ['blog-6.jpg']
              },
              { 
                icon: 'View case study',
                heading: 'Project Heading',
                client: 'Client: Uber',
                title: 'Project intro, lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.' , 
                src: ['blog-7.jpg']
              },
              {
                icon: 'View case study',
                heading: 'Project Heading',
                client: 'Client: Uber',
                title: 'Project intro, lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.' , 
                src: ['blog-8.jpg']
              },
            ],
          },
          {
            tabs: "Frontend",
            categories: [
              { 
                icon: 'View case study',
                heading: 'Project Heading',
                client: 'Client: Uber',
                title: 'Project intro, lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.' , 
                src: ['blog-4.jpg']
              },
              {  
                icon: 'View case study',
                heading: 'Project Heading',
                client: 'Client: Uber',
                title: 'Project intro, lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.' , 
                src: ['blog-5.jpg']
              },
              {
                icon: 'View case study',
                heading: 'Project Heading',
                client: 'Client: Uber',
                title: 'Project intro, lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.' , 
                src: ['blog-6.jpg']
              },
            ],
          },
          {
            tabs: "Mobile App",
            categories: [
              { 
                icon: 'View case study',
                heading: 'Project Heading',
                client: 'Client: Uber',
                title: 'Project intro, lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.' , 
                src: ['blog-7.jpg']
              },
              {
                icon: 'View case study',
                heading: 'Project Heading',
                client: 'Client: Uber',
                title: 'Project intro, lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.' , 
                src: ['blog-8.jpg']
              },
            ],
          },
        ],
      }
    },
  }
</script>