<template>
  <v-footer padless absolute :class="[$vuetify.theme.dark? 'none' : 'secondary']">
    <div class="mx-auto mb-3">
        <v-row class="mt-6" align="center" justify="center">
          <v-btn class="mr-3" dark small fab flat color="light-blue"><v-icon>mdi-twitter</v-icon></v-btn>
          <v-btn class="mr-3" dark small fab flat color="blue darken-4" m-3><v-icon>fa fa-linkedin</v-icon></v-btn>
          <v-btn class="mr-3" dark small fab flat color="blue-grey " mb-3><v-icon>fa fa-github-alt</v-icon></v-btn>
          <v-btn class="mr-3" dark fab small flat color="amber accent-4" mb-3><v-icon>mdi-stack-overflow</v-icon></v-btn>
          <v-btn class="mr-3" dark fab small flat color="black" mb-3><v-icon>fa fa-codepen</v-icon></v-btn>
          <v-btn class="mr-3" dark fab small flat color="pink" mb-3><v-icon>mdi-instagram</v-icon></v-btn>
        </v-row>
    </div>
      
  </v-footer>
</template>


<script>
  export default {
    data: () => ({
      
    }),
  }
</script>