<template>
    <div class="">
        <v-tabs  v-model="tab" background-color="dark" centered color="success" text>
          <v-tab v-for="item in items" :key="item.tabs">{{item.tabs}}</v-tab>
            <v-tab-item  transition="scale-transition" reverse-transition="fab-transition"  v-for="item in items" :key="item.tabs">
              <v-card class="px-6 py-6" elevation="0">
                <v-row>
                  <v-col class="col-12 col-md-4" v-for="(category,index) in item.categories" :key="index">
                    <v-card>
                      <v-card>
                      <v-hover v-slot:default="{ hover }" transition="fab-transition">
                        <v-card rounded="0" class="mx-auto" color="grey lighten-4" v-for="image in category.src" v-bind:key="image">
                          <v-img :aspect-ratio="16/9" :src="image">
                              <v-expand-transition transition="fab-transition" >
                                  <div v-if="hover" transition="fab-transition" class=" pt-3 px-6 transition-fast-in-fast-out success darken-2 v-card--reveal white--text" style="height: 100%;">
                                   <h4>{{category.heading}}</h4>
                                   <p style="font-size:16px;">{{category.text}}</p>
                                  </div>
                              </v-expand-transition>
                          </v-img>
                        </v-card>
                      </v-hover>
                    </v-card>
                    <v-card rounded="0" style="height:100px;">
                      <v-row>
                      <div class=" my-3 mx-auto">
                        <h4>{{category.product}}<br /></h4>
                      </div>
                      <div class="mx-auto">
                        <v-chip v-for="chip in category.chips" v-bind:key="chip" style="text-align:center; font-size: 10px;" class="mr-3 mt-3 success accent-4 white--text text-center">{{chip}}</v-chip>
                      </div>

                      </v-row>
                    </v-card>
                    </v-card>
                    <v-col class="mb-12"></v-col>
                  </v-col>
                </v-row>
              </v-card>
            </v-tab-item>
        </v-tabs>
    </div>
</template>

<style>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: .9;
  position: absolute;
  width: 100%;
}
</style>

<script>
export default {
  data: () => {
    return {
      overlay: 'true',
      items: [
        {
          tabs: "All",
          categories: [
            {
              src: ['lang_1.jpg'],
              heading: 'Client: Google',
              text: 'Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...',
              product: 'SaaS Product',
              chips: ['Angular', 'Django', 'MongoDB', 'HTML/CSS']
            },
            {
              src: ['lang_2.jpg'],
              heading: 'Client: Basecamp',
              text: 'Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...',
              product: 'Webapp Development',
              chips: ['Rails', 'jQuery', 'PostgresSQL', 'HTML/LESS']
            },
            {
              src: ['lang_3.jpg'],
              heading: 'Client: Airbnb',
              text: 'Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...',
              product: 'Mobile app development',
              chips: ['React', 'Python', 'MySQL', 'Webpack']
            },
            {
              src: ['lang_4.jpg'],
              heading: 'Client: Dropbox',
              text: 'Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...',
              product: 'Internal Product',
              chips: ['React', 'Flux', 'Babel', 'MongoDB']
            },
            {
              src: ['lang_5.jpg'],
              heading: 'Client: Spotify',
              text: 'Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...',
              product: 'Mobile App Development',
              chips: ['React', 'PHP', 'MySQL']
            },
            {
              src: ['lang_6.jpg'],
              heading: 'Client: Evernote',
              text: 'Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...',
              product: 'Web App & Chrome Extension',
              chips: ['JavaScript', 'Ruby', 'HTML/CSS']
            },
            {
              src: ['lang_7.jpg'],
              heading: 'Client: Facebook',
              text: 'Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...',
              product: 'Facebook Ads Manager',
              chips: ['Angular', 'PHP', 'HTML/SaSS']
            },
            {
              src: ['lang_8.jpg'],
              heading: 'Client: Zendesk',
              text: 'Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...',
              product: 'Mobile App Development',
              chips: ['React', 'Django', 'HTML/SaSS']
            },
            {
              src: ['lang_9.jpg'],
              heading: 'Client: Coinbase',
              text: 'Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...',
              product: 'App Development',
              chips: ['Angular', 'Python', 'HTML/SaSS']
            }
          ]
        },
        {
          tabs: "Angular",
          categories: [
            {
              src: ['lang_1.jpg'],
              heading: 'Client: Google',
              text: 'Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...',
              product: 'SaaS Product',
              chips: ['Angular', 'Django', 'MongoDB', 'HTML/CSS']
            },
            {
              src: ['lang_7.jpg'],
              heading: 'Client: Facebook',
              text: 'Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...',
              product: 'Facebook Ads Manager',
              chips: ['Angular', 'PHP', 'HTML/SaSS']
            },
            {
              src: ['lang_9.jpg'],
              heading: 'Client: Coinbase',
              text: 'Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...',
              product: 'App Development',
              chips: ['Angular', 'Python', 'HTML/SaSS']
            }
          ]
        },
        {
          tabs: "React",
          categories: [
            {
              src: ['lang_3.jpg'],
              heading: 'Client: Airbnb',
              text: 'Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...',
              product: 'Mobile app development',
              chips: ['React', 'Python', 'MySQL', 'Webpack']
            },
            {
              src: ['lang_4.jpg'],
              heading: 'Client: Dropbox',
              text: 'Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...',
              product: 'Internal Product',
              chips: ['React', 'Flux', 'Babel', 'MongoDB']
            },
            {
              src: ['lang_5.jpg'],
              heading: 'Client: Spotify',
              text: 'Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...',
              product: 'Mobile App Development',
              chips: ['React', 'PHP', 'MySQL']
            },
            {
              src: ['lang_8.jpg'],
              heading: 'Client: Zendesk',
              text: 'Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...',
              product: 'Mobile App Development',
              chips: ['React', 'Django', 'HTML/SaSS']
            }
          ]
        },{
          tabs: "Python/Django",
          categories: [
            {
              src: ['lang_1.jpg'],
              heading: 'Client: Google',
              text: 'Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...',
              product: 'SaaS Product',
              chips: ['Angular', 'Django', 'MongoDB', 'HTML/CSS']
            },
            {
              src: ['lang_3.jpg'],
              heading: 'Client: Airbnb',
              text: 'Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...',
              product: 'Mobile app development',
              chips: ['React', 'Python', 'MySQL', 'Webpack']
            },
            {
              src: ['lang_8.jpg'],
              heading: 'Client: Zendesk',
              text: 'Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...',
              product: 'Mobile App Development',
              chips: ['React', 'Django', 'HTML/SaSS']
            },
            {
              src: ['lang_9.jpg'],
              heading: 'Client: Coinbase',
              text: 'Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...',
              product: 'App Development',
              chips: ['Angular', 'Python', 'HTML/SaSS']
            }
          ]
        },
        {
          tabs: "Ruby/Rails",
          categories: [
            {
              src: ['lang_2.jpg'],
              heading: 'Client: Basecamp',
              text: 'Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...',
              product: 'Webapp Development',
              chips: ['Rails', 'jQuery', 'PostgresSQL', 'HTML/LESS']
            },
            {
              src: ['lang_6.jpg'],
              heading: 'Client: Evernote',
              text: 'Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...',
              product: 'Web App & Chrome Extension',
              chips: ['JavaScript', 'Ruby', 'HTML/CSS']
            }
          ]
        },
        {
          tabs: "PHP",
          categories: [
            {
              src: ['lang_5.jpg'],
              heading: 'Client: Spotify',
              text: 'Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...',
              product: 'Mobile App Development',
              chips: ['React', 'PHP', 'MySQL']
            },
            {
              src: ['lang_7.jpg'],
              heading: 'Client: Facebook',
              text: 'Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...',
              product: 'Facebook Ads Manager',
              chips: ['Angular', 'PHP', 'HTML/SaSS']
            }
          ]
        }
      ]
    }
  }
}
</script>