<template>
    <div class="mx-auto home">
        <v-card elevation="0" rounded="0" class="px-6" align="center" :class="[$vuetify.theme.dark? 'none' : 'grey lighten-3']">
            <div class="mx-auto">
            <v-col class="col-10" align="center" style="width:1000px;">
                <h1 class="mt-6">{{title}}</h1>
                <div class="mx-auto">
                    <p>{{text}}</p>
                    <p class="mt-6">{{text2}}</p><br/>
                    <v-col>
                    <p class="text-md-center mb-5"><v-btn large dark color="#4BB462" class="mx-1 btn btn-primary mr-2 mb-3" 
                    style="alignment:center; justify:center;">
                    <v-icon>mdi-telegram</v-icon><v-spacer></v-spacer>Hire me</v-btn></p>
                </v-col>
                </div>
                
            </v-col>
        </div>
        </v-card>
    </div>
    
</template>


<style scoped>
    .home {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
</style>

<script>
export default {
    data: () => {
        return {
            title: 'Portfolio',
            text:'Welcome to my online portfolio. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. I\'m taking on freelance work at the moment. Want some help building your software?',
        }
    }
}
</script>