<template>
    <v-card rounded="0" class="px-16" elevation="0">
        <v-row>
            <v-col class="px-6">
                <v-card class="px-3 my-12" elevation="10">
                <v-col class="col-12 px-3">
                        <v-row>
                            <v-col class="col-12 col-md-8 mt-8 px-6">
                                <h1 class="success--text" style="font-size:3rem; letter-spacing:0.5rem;" >SIMON DOE</h1>
                                <P>Senoir Software Engineer</P>
                            </v-col>
                            <v-divider class="my-4" inset vertical></v-divider>
                            <v-col class="col-12 col-md-3" >
                                <v-list>
                                    <v-list-item style="margin-bottom:-1rem; font-size:12px;" v-for="icon in icons" v-bind:key="icon.id">
                                        <v-icon size="20">{{icon.icon}}</v-icon>&nbsp;{{icon.text}}
                                    </v-list-item>
                                </v-list>
                            </v-col>
                        </v-row>
                        <v-divider></v-divider>
                        <v-row>
                            <v-col class="col-12 col-md-2 py-6 px-12">
                                <v-avatar size="100">
                                    <v-img><img src="image.png"></v-img>
                                </v-avatar>
                            </v-col>
                            <v-col class="col-12 col-md-10 py-6 px-6">
                                <P style="font-size:12px;">{{text}}</P>
                            </v-col>
                        </v-row>
                        <v-divider></v-divider>
                        <v-row>
                            <v-col class="col-12 col-md-8 px-3">
                                
                                <v-card elevation="0">
                                    <v-row class="px-6">
                                        <h4 class="line success--text text-uppercase resume-section-heading" style="text-color:success;">work experiences</h4>
                                        <v-col class="col-12"  v-for="item in items" v-bind:key="item.id">
                                            <v-row>
                                                <v-col class="col-12 col-md-8 px-0"><h4>{{item.heading}}</h4></v-col>
                                                <v-col class="col-12 col-md-4" align="right"><p style="font-size:12px;">{{item.text}}</p> </v-col>
                                                <p style="font-size:12px; margin-bottom:-1rem; margin-top:-1rem;">{{item.desc}}</p>
                                            </v-row>
                                        </v-col>
                                    </v-row>

                                    <v-row class="px-6">
                                        <h4 class="line success--text text-uppercase resume-section-heading mt-12" style="text-color:success;">projects</h4>
                                        <v-col class="col-12" v-for="project in projects" v-bind:key="project.id">
                                            <v-row>
                                                <v-col class="col-12 col-md-8 px-0"> <h4>{{project.heading}}</h4> </v-col>
                                                <v-col class="col-12 col-md-4" align="right"> <p style="font-size:12px;">{{project.text}}</p> </v-col>
                                                <p style="font-size:12px; margin-bottom:-1rem; margin-top:-1rem;">{{project.desc}}</p>
                                            </v-row>
                                        </v-col>
                                    </v-row>
                                </v-card>
                            </v-col>
                            
                            <v-divider class="my-4" inset vertical></v-divider>
                            <v-col  class="col-12 col-md-3 px-6">
                                <v-row class="px-3">
                                    <h4 class="line success--text text-uppercase resume-section-heading mb-4" style="text-color:success;">skills</h4>
                                </v-row>
                                <v-row>
                                    <v-col class="col-12" v-for="data in Data1" v-bind:key="data.skills">
                                        <h4>{{data.skills}}</h4>
                                        <v-col class="col-12 px-0" v-for="(category,index) in data.categories" v-bind:key="index">
                                            <p style="font-size:12px; margin-bottom:-1rem;">{{category.item}}</p>
                                        </v-col>
                                    </v-col>
                                </v-row>

                                <v-row class="px-3">
                                    <h4 class="line success--text text-uppercase resume-section-heading mb-4 mt-4" style="text-color:success;">education</h4>
                                </v-row>
                                <v-row>
                                    <v-col class="col-12" v-for="data in Data2" v-bind:key="data.skills">
                                        <h4>{{data.skills}}</h4>
                                        <v-col class="col-12 px-0" v-for="(category,index) in data.categories" v-bind:key="index">
                                            <p style="font-size:12px; margin-bottom:-1rem;">{{category.item}}</p>
                                        </v-col>
                                    </v-col>
                                </v-row>

                                <v-row class="px-3">
                                    <h4 class="line success--text text-uppercase resume-section-heading mb-4 mt-4" style="text-color:success;">awards</h4>
                                </v-row>
                                <v-row>
                                    <v-col class="col-12" v-for="data in Data3" v-bind:key="data.skills">
                                        <h4>{{data.skills}}</h4>
                                        <v-col class="col-12 px-0" v-for="(category,index) in data.categories" v-bind:key="index">
                                            <p style="font-size:12px; margin-bottom:-1rem;">{{category.item}}</p>
                                        </v-col>
                                    </v-col>
                                </v-row>

                                <v-row class="px-3">
                                    <h4 class="line success--text text-uppercase resume-section-heading mb-4 mt-4" style="text-color:success;">languages</h4>
                                    <v-col class="col-12 px-0" v-for="lang in langs" v-bind:key="lang.id">
                                        <p style="font-size:12px; margin-bottom:-1rem;">{{lang.item}}</p>
                                    </v-col>
                                </v-row>

                                <v-row class="px-3">
                                    <h4 class="line success--text text-uppercase resume-section-heading mb-4 mt-4" style="text-color:success;">interests</h4>
                                    <v-col class="col-12 px-0" v-for="inter in inters" v-bind:key="inter.id">
                                        <p style="font-size:12px; margin-bottom:-1rem;">{{inter.item}}</p>
                                    </v-col>
                                </v-row>
                            </v-col>

                        </v-row>
                        <v-divider></v-divider>
                        <div class="mx-auto mt-6" align="center">
                               <p style="font-size:12px;"> <v-icon size="25">mdi-github</v-icon>&nbsp;github.com/username<v-icon class="pl-12" size="25">mdi-linkedin</v-icon>&nbsp;linkedin.com/in/username<v-icon class="ml-12" size="25">mdi-twitter</v-icon>&nbsp;@twittername</p>
                        </div>
                </v-col>
            </v-card>
            <v-col class="mb-12"></v-col>
            </v-col>
        </v-row>
    </v-card>
</template>

<style scoped>
    .line {
        border-left: 5px solid rgb(20, 156, 79);
        padding-left: 1rem;
        border-width: 0.4rem;
        
    }
</style>

<script>
export default {
    data: () => {
        return  {
            text: 'Summarise your career here. You can make a PDF version of your resume using our free Sketch template here. Donec quam felis, ultricies nec, pellentesque eu. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. ',
            Data1: [
            {
                skills: "Technical",
                categories: [
                    {
                        item: 'JavaScript/Angular/React/Vue',
                    },
                    {
                        item: 'Python/Ruby/PHPe',
                    },
                    {
                        item: 'Node.js/ASP.NET',
                    },
                    {
                        item: 'PostgreSQL/MySQL',
                    },
                    {
                        item: 'Object-oriented design',
                    },
                    {
                        item: 'Design and implement database structures',
                    },
                    {
                        item: 'Lead and deliver complex software systems'
                    }
                ],
            },
            {
                skills: "Professional",
                categories: [
                    {
                        item: 'Effective communication',
                    },
                    {
                        item: 'Team player',
                    },
                    {
                        item: 'Strong problem solver',
                    },
                    {
                        item: 'Good time management',
                    },
                ],
            }
            ],

            Data2: [
            {
                skills: "MSc in Computer Science",
                categories: [
                    {
                        item: 'University College London 2010 - 2011',
                    },
                ],
            },
            {
                skills: "BSc Maths and Physics",
                categories: [
                    {
                        item: 'Imperial College London 2007 - 2010',
                    },
                ],
            }
            ],

            Data3: [
            {
                skills: "Award Lorem Ipsum",
                categories: [
                    {
                        item: 'Microsoft lorem ipsum (2019)',
                    },
                ],
            },
            {
                skills: "Award Donec Sodales",
                categories: [
                    {
                        item: 'Oracle Aenean (2017)',
                    },
                ],
            }
            ],
            
            icons: [
                {
                    id: 1,
                    icon: 'mdi-phone',
                    text: '0123 4567 890'
                },
                {
                    id:2,
                    icon: 'mdi-email',
                    text: 'simon.doe@yourwebsite.com'
                },
                {
                    id: 3,
                    icon: 'mdi-web',
                    text: 'www.yourwebsite.com'
                },
                {
                    id: 4,
                    icon: 'mdi-map-marker',
                    text: 'New York'
                },
            ],
            langs: [
            {
                id:1,
                item: 'English (Native)',
            },
            {
                id: 2,
                item: 'Spanish (Professional)'
            }
            ],

            inters: [
            {
                id:1,
                item: 'Climbing',
            },
            {
                id: 2,
                item: 'Snowboarding',
            },
            {
                id: 3,
                item: 'Photography',
            },
            {
                id: 4,
                item: 'Travelling'
            },
            {
                id: 5,
                item: ''
            }
            ],
            items: [
                {
                    id: 1,
                    heading: 'Senior Software Engineer',
                    text: 'Google | 2019 - Present',
                    desc: 'Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec pede justo, fringilla vel. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis.',
                },
                {
                    id: 2,
                    heading: 'Lead Software Developer',
                    text: 'Apple | 2016 - 2019',
                    desc: 'Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec pede justo, fringilla vel.',
                },
                {
                    id: 3,
                    heading: 'Senior Software Developer',
                    text: 'Dropbox | 2014 - 2016',
                    desc: 'Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
                },
                {
                    id: 4,
                    heading: 'Senior Developer',
                    text: 'Uber | 2013 - 2014',
                    desc: 'Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.',
                },
                {
                    id: 5,
                    heading: 'Backend Developer',
                    text: 'Amazon | 2014 - 2016',
                    desc: 'Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
                },
                {
                    id: 6,
                    heading: 'Frontend Developer',
                    text: 'Startup | 2013 - 2014',
                    desc: 'Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.',
                }
            ],
            projects: [
                {
                    id: 1,
                    heading: 'Project Lorem Ipsum',
                    text: 'Open Source',
                    desc: 'You can use this section for your side projects. You can provide a project link here as well. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
                },
                {
                    id: 2,
                    heading: 'Project Sed Fringilla',
                    text: 'Open Source',
                    desc: 'You can use this section for your side projects. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.',
                },
                {
                    id: 3,
                    heading: 'Project Praesent',
                    text: 'Open Source',
                    desc: 'You can use this section for your side projects. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.',
                }
            ],
        }
    }
}
</script>