<template>
    <div class="mx-auto home">
        <v-card elevation="0" rounded="0" class="px-6" align="center" :class="[$vuetify.theme.dark? 'none' : 'grey lighten-3']">
            <div class="mx-auto">
            <v-col class="col-10" align="center" style="width:1000px;">
                <h1 class="mt-6 mb-3">Online Resume</h1>
                <div class="mx-auto mb-12">
                    <v-btn color="success" medium><v-icon>mdi-file-pdf-box</v-icon>Download PDF Version</v-btn>
                </div>
                
            </v-col>
        </div>
        </v-card>
    </div>
</template>


<style scoped>
    .home {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
</style>

<script>
export default {
    data: () => {
        return {
            
        }
    }
}
</script>