<template>
    <div>
        <v-card elevation="0" class="px-6" rounded="0">
            <v-row>
                <v-col class="col-12 px-12" align="center">
                    <h1 class="mb-6 text-center" >{{heading}}</h1>
                    <v-card outlined style="width:700px;">
                        <v-simple-table outlined class="expan">
                            <thead class="text-center">
                                <tr>
                                    <th class="text-center"></th>
                                    <th class="text-center"><h3 color="success">Basic</h3></th>
                                    <th class="text-center"><h3 color="success">Standard</h3></th>
                                    <th class="text-center"><h3 color="success">Premium</h3></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="180px"><h4>Package Price</h4></td>
                                    <td width="50px" class="text-center"><h2>$900</h2></td>
                                    <td width="50px" class="text-center"><h2>$2500</h2></td>
                                    <td width="50px" class="text-center"><h2>$5000+</h2></td>
                                </tr>
                                <tr v-for="table in tables" v-bind:key="table.id">
                                    <td><h4>{{table.record1}}</h4></td>
                                    <td>{{table.record2}}</td>
                                    <td>{{table.record3}}</td>
                                    <td>{{table.record4}}</td>
                                </tr>
                                <tr v-for="item in items" v-bind:key="item.id">
                                    <td><h4>{{item.heading}}</h4><p style="font-size:12px;">{{item.text}}</p></td>
                                    <td class="text-center"><v-icon color="success">{{item.icon1}}</v-icon></td>
                                    <td class="text-center"><v-icon color="success">{{item.icon2}}</v-icon></td>
                                    <td class="text-center"><v-icon color="success">{{item.icon3}}</v-icon></td>
                                </tr>
                                <tr>
                                    <td><h4>Feature Consectetuer</h4></td>
                                    <td class="text-center"><v-icon>mdi-minus</v-icon></td>
                                    <td class="text-center"><v-icon color="success">mdi-check</v-icon></td>
                                    <td class="text-center"><v-icon color="success">mdi-check</v-icon></td>
                                </tr>
                                <tr v-for="icon in icons" v-bind:key="icon.id">
                                    <td><h4>{{icon.heading}}</h4><p style="font-size:12px;">{{icon.text}}</p></td>
                                    <td class="text-center"><v-icon>{{icon.icon1}}</v-icon></td>
                                    <td class="text-center"><v-icon>{{icon.icon2}}</v-icon></td>
                                    <td class="text-center"><v-icon color="success">{{icon.icon3}}</v-icon></td>
                                </tr>
                                <tr v-for="text in texts" v-bind:key="text.id">
                                    <td><h4>{{text.record1}}</h4></td>
                                    <td class="text-center">{{text.record2}}</td>
                                    <td class="text-center">{{text.record3}}</td>
                                    <td class="text-center">{{text.record4}}</td>
                                </tr>
                                <tr class="text-center">
                                    <td></td>
                                    <td class="py-6"><v-btn depressed medium color="success">Book now</v-btn></td>
                                    <td class="py-6"><v-btn depressed medium color="success">Book now</v-btn></td>
                                    <td class="py-6"><v-btn depressed medium color="success">Get A Quote</v-btn></td>
                                </tr>
                            </tbody>
                        </v-simple-table>
                    </v-card>
                </v-col>
            </v-row>
        </v-card>
    </div>
</template>

<style scoped>
    .expan {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
</style>

<script>
export default {
    data: () => {
        return {
            heading: 'Service Packages',
            tables: [
                {
                    id: 1,
                    record1: 'Details',
                    record2: 'A small app lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.',
                    record3: 'An medium app lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.',
                    record4: 'A complex app lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.'
                },
            ],
            items: [
                {
                    id: 1,
                    heading: 'Feature Lorem',
                    text: 'Optional feature description goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.',
                    icon1: 'mdi-check',
                    icon2: 'mdi-check',
                    icon3: 'mdi-check',
                },
                {
                    id: 2,
                    heading: 'Feature Ipsum',
                    text: 'Optional feature description goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.',
                    icon1: 'mdi-check',
                    icon2: 'mdi-check',
                    icon3: 'mdi-check',
                },
                {
                    id: 3,
                    heading: 'Feature Commodo',
                    text: '',
                    icon1: 'mdi-check',
                    icon2: 'mdi-check',
                    icon3: 'mdi-check',
                },
            ],
            icons: [
                {
                    id: 1,
                    heading: 'Feature Aenean',
                    text: '',
                    icon1: 'mdi-minus',
                    icon2: 'mdi-minus',
                    icon3: 'mdi-check',
                },
                {
                    id: 2,
                    heading: 'Feature Duis',
                    text: '',
                    icon1: 'mdi-minus',
                    icon2: 'mdi-minus',
                    icon3: 'mdi-check',
                },
            ],
            texts: [
                { 
                    id:1, 
                    record1: 'Revision',
                    record2: '1',
                    record3: '2',
                    record4: '5+'
                },
                { 
                    id:2, 
                    record1: 'Delivery Time',
                    record2: '7 days',
                    record3: '14 days',
                    record4: '2 - 3 month(s)'
                },
            ]
        }
    }
}
</script>