<template>
    <div class="mx-auto home">
        <v-card elevation="0" rounded="0" class="px-6" align="center" :class="[$vuetify.theme.dark? 'none' : 'grey lighten-3']">
            <div class="mx-auto">
            <v-col class="col-10" align="center" style="width:1000px;">
                <h1 class="mt-6">{{heading}}</h1>
                <div class="mx-auto">
                    <p v-html="text1"></p>
                    <p class="mt-6">{{text2}}</p>
                </div>
                
            </v-col>
        </div>
        </v-card>
    </div>
</template>

<style scoped>
    .home {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
</style>

<script>
export default {
    data: () => {
        return {
            heading: 'Services & Pricing',
            text1: 'I have 10+ years of development experience building software for the web and mobile devices. You can take a look at my <a style="color:#4BB462;"> project portfolio </a> and <a style="color:#4BB462;"> online resume </a> to find out more about my skills and experiences.',
            text2: 'I\'m currently taking on freelance software development work. You\'re welcome to contact me for a custom quote for your project. I also offer development service packages with fixed pricing.'
}

    }
}
</script>