<template>
    <div class="px-0 m-0">

        <v-card rounded="0" elevation="1">
            <v-row>
                <div class="mx-auto"  style="width:700px;">
                    <v-card outlined class="rounded-card mt-6 mb-6">
                    <v-col class=" home col-12 px-6 text-center">
                    <h1 class="mb-6">{{heading}}</h1>
                    <p class="text my-6">{{text}}</p>
                </v-col>
                
                </v-card>
                <v-card elevation="0" class="pb-12 mb-12">
                    <v-col class="col-12 px-12 expan" align="center" v-for="panel in panels" v-bind:key="panel.id">
                    <v-expansion-panels inset>
                        <v-expansion-panel style="background-color:primary;">
                            <v-expansion-panel-header style="font-size:14px;" expand-icon="mdi-menu-down" :class="[$vuetify.theme.dark? 'none' : 'indigo lighten-4']" ><h4>{{panel.heading}}</h4></v-expansion-panel-header>
                            <v-expansion-panel-content style="font-size:12px;" >{{panel.text}}</v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-expansion-panels>
                </v-col>
                </v-card>

                
                </div>
                
            </v-row>
            <v-col class="mb-12"></v-col>
        </v-card>
         
    </div>
</template>

<style scoped>
    p {
        font-style: initial;
    }

    .rounded-card{
        border-radius:30px;
    }

    .home {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: smaller;
    }

    .expan {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
</style>

<script>
export default {
    data: () => {
        return {
            heading: 'FAQs',
            text: 'You can use this section to address any queries your potential clients may have.',
            panels:[
                {
                    id: 1,
                    heading: 'Can you sit amet quam eget lacinia?',
                    text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. ',
                },
                {
                    id: 2,
                    heading: 'What is the ipsum dolor sit amet quam tortor?',
                    text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. ',
                },
                {
                    id: 3,
                    heading: 'Is it possible to tellus eget auctor condimentum?',
                    text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. ',
                },
                {
                    id: 4,
                    heading: 'Do you elementum turpis semper imperdiet?',
                    text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. ',
                },
                {
                    id: 5,
                    heading: 'How much imperdiet lorem sem non nisl?',
                    text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. ',
                },
                {
                    id: 6,
                    heading: 'How long does it take to imperdiet lorem sem non nisl?',
                    text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. ',
                },
                {
                    id: 7,
                    heading: 'What is the ipsum dolor sit amet quam tortor?',
                    text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. ',
                },
                {
                    id: 8,
                    heading: 'Where can I imperdiet lorem sem non nisl?',
                    text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. ',
                },
            ],
        }
    }
}
</script>