<template>
  <div id="sandbox">
     <div class="scrollbar square scrollbar-lady-lips thin">
       <v-navigation-drawer
        v-model="primaryDrawer.model"
        :floating="primaryDrawer.floating"
        app
        :src="bg"
        width="300"
        overflow
        
        >
        <div class="center" id="body">
          <v-row>
          
          <v-list>
            <v-list-item>
              <h1 class="mb-3 ml-2 px-3">{{name}}</h1>
            </v-list-item>
            <v-list-item class="px-3">
              <v-list-item-avatar size="160">
                <v-img src="profile.png"></v-img>
              </v-list-item-avatar>
            </v-list-item>
          </v-list>
        </v-row>
        </div>
        <div  class="px-3" align="center">
          <p class="text-body-2">{{text}}</p>
          <v-btn class="mr-3 mb-3" size="25" outlined x-small fab href="/" v-for="icon in icons" v-bind:key="icon.id" :to="icon.path">
            <v-icon>{{icon.icon}}</v-icon>
          </v-btn>
        </div>
        <v-divider size="4"></v-divider>
        <div class="center py-4 pr-2 ml-12 mx-12">
              <v-list nav flat fab v-for="link in links" v-bind:key="link.id">
                <v-list-item style="margin-top:-1rem;align:center;" :to="link.path" color="primary">
                  <v-icon size="20">{{link.icon}}</v-icon>
                  <v-list-item-title class=" text-body-2 px-3">{{link.title}}</v-list-item-title>
                </v-list-item>
              </v-list>
              <v-list style="margin-top:-0.5rem;">
                <v-list-item>
                  <v-btn medium color="success"><v-icon>mdi-telegram</v-icon>Hire Me</v-btn>
                </v-list-item>
              </v-list>
        </div>
        <v-divider></v-divider>
              <v-list>
                <v-list-item>
                  <v-list-item-subtitle class="ml-12">Dark mode</v-list-item-subtitle>
              <v-switch style="margin-left:-2rem;" v-model="$vuetify.theme.dark" inset></v-switch>
            </v-list-item>
              </v-list>
        
            
      </v-navigation-drawer>
     </div>
    
    <v-app-bar elavation="0" flat absolute
      clipped
      hide-on-scroll
      permanent
      app
    >
    
      <v-app-bar-nav-icon style="margin-top:15px;" v-if="primaryDrawer.type !== 'permanent'" @click.stop="primaryDrawer.model = !primaryDrawer.model"></v-app-bar-nav-icon>
    </v-app-bar>
    <v-btn
            v-scroll="onScroll"
            v-show="fab"
            fab
            dark
            fixed
            bottom
            right
            color="blue"
            @click="toTop"
          >
            <v-icon>mdi-arrow-up</v-icon>
          </v-btn>

  </div>
</template>

<style>
    ::-webkit-scrollbar {
      width:1px;
    }
/* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
 
/* Handle */
    ::-webkit-scrollbar-thumb {
      background-color: rgba(171, 174, 179, 0.027); 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }

    .center {
        margin: auto;
        width: 70%;
        padding: 14px;
    }

    .my-custom-scrollbar {
  position: relative;
  width: 800px;
  height: 400px;
  overflow: auto;
}
</style>



<script>
  export default {
    data: () => {
      
      return {
        fab: false,
        name: 'Simon Doe',
        text: 'Hi, my name is Simon Doe and I\'m a senior software engineer. Welcome to my personal website!',
        drawers: ['Default (no property)', 'Permanent', 'Temporary'],
        primaryDrawer: {
            model: null,
            type: 'default (no property)',
            clipped: false,
            floating: true,
            mini: true,
        },
        
        icons:[
          {
            id: 1,
            icon: 'mdi-twitter',
            path: '/'
          },
          {
            id: 2,
            icon: 'fa fa-linkedin',
            path: '/'
          },
          {
            id: 3,
            icon: 'fa fa-github-alt',
            path: '/'
          },
          {
            id: 4,
            icon: 'mdi-stack-overflow',
            path: '/'
          },
          {
            id: 5,
            icon: 'fa fa-codepen',
            path: '/'
          },
        ],

        links: [
          {
            id: 1,
            icon: 'fa fa-user',
            title: 'About me',
            path: '/'
          },
          {
            id: 2,
            icon: 'fa fa-laptop',
            title: 'Porfolio',
            path: '/portfolio'
          },
          {
            id: 3,
            icon: 'fa fa-briefcase',
            title: 'Service',
            path: '/service'
          },
          {
            id: 4,
            icon: 'fa fa-file-text-o',
            title: 'Resume',
            path: '/resume'
          },
          {
            id: 5,
            icon: 'mdi-blogger',
            title: 'Blog',
            path: '/blog'
          },
          {
            id: 6,
            icon: 'mdi-email-open',
            title: 'Contact',
            path: '/contact'
          },
        ],
        
      }
    },
    computed: {
      bg() {
        return this.$vuetify.theme.dark
          ? "bg-img.png"
          : "bg-green.jpg";
      }
  }
  }
  
</script>
