<template>
  <v-card>
    <div id="app">
    <div class="item">
     <v-row class="ml-12">
       <h2 class="line resume-section-heading mb-4 mt-4">Testimonials</h2>
     </v-row>
      <section>
        <vue-horizontal-list :items="items" :options="{responsive: [{end: 576, size: 1}, {start: 576, end: 700, size: 2},{size: 3}]}">
          <template v-slot:default="{item}">
            <div class="item">
              <v-card class="ma-6" height="350" width="290" :img="[$vuetify.theme.dark? 'none' : '6.jpg']">
                <v-row class="fill-height" justify="center">
                  <v-row>
                     
                    <v-col style="margin-top:-3rem;" align="center">
                      <v-avatar centered size="120" v-for="image in item.src" :key="image">
                        <v-img :src="image"></v-img>
                      </v-avatar>
                    </v-col>
                    <v-col align="center" style="margin-top:-1.5rem;">
                      <div class="mx-auto">
                        <v-chip  style="height:40px; width:170px; align:center;" class="blue accent-4 white--text text-center">{{item.name}}<br/>{{item.job}}</v-chip>
                      </div>
                    </v-col>
                  </v-row>
                  <v-row class="px-6">
                    <v-col class="ml-6" style="margin-top:-1.5rem;">
                      <p class="home" style="font-size:14px;">{{item.text}}</p>
                    </v-col>
                  </v-row>
                  
                </v-row>
              </v-card>
            </div>
          </template>
        </vue-horizontal-list>
      </section>
    </div>
  </div>
  </v-card>
</template>

<style scoped>
  .home{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
</style>

<script>
  import Vue from 'vue';
  import VueHorizontalList from './vue-horizontal-list.vue';

  export default Vue.extend({
    name: 'ServeDev',
    components: {
      VueHorizontalList
    },
    data() {
      return {
        items: [
          {
              id: 1,
              text: 'Simon is a brilliant software engineer! Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.',
              name: 'Brandon James',
              job: 'Project Manager, Google',
              src: ["dp_1.png"]
          },
          {
              id: 2,
              text: 'Simon is a brilliant software engineer! Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.',
              name: 'Kate Sanders,',
              job: 'Product Manager, Uber',
              src: ['dp_2.png']
          },
          {
              id: 3,
              text: 'Simon is a brilliant software engineer! Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.',
              name: 'James Lee,',
              job: 'Product Manager, Amazon',
              src: ['dp_3.png']
          },
          {
              id: 4,
              text: 'Simon is a brilliant software engineer! Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.',
              name: 'James Lee,',
              job: 'Product Manager, Amazon',
              src: ['dp_4.png']
          },
          {
              id: 5,
              text: "Simon is a brilliant software engineer! Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis. ",
              name: 'Olivia White,',
              job: 'Product Manager, Dropbox',
              src: ['dp_5.png']
          },
          {
              id: 6,
              text: "Simon is a brilliant software engineer! Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis. ",
              name: 'Samuel Reyes,   ',
              job: 'CE Officer, StartupHub',
              src: ['dp_6.png']
          },

      ]
      }
    }
  });
</script>

<style scoped>
    .line {
        border-left: 5px solid rgb(20, 156, 79);
        padding-left: 1rem;
        border-width: 0.2em;
    }
</style>

<style>
  body {
    margin: 0;
    padding: 0;
  }
</style>

<style scoped>
  h5 {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 8px;
  }

  p {
    font-size: 17px;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;

    word-break: break-word;
  }

  section {
    margin-top: 24px;
    margin-right: 2rem;
    margin-left: 2rem;
  }
</style>
