<template>
    <div class="home" >
        <v-card elevation="0" class="px-10" rounded="0" :class="[$vuetify.theme.dark? 'none' : 'grey lighten-3']">
        
        <v-row >
          <v-col class="col-12 col-md-7 mt=3 px-6">
            <h1 class="text-h2" style="font-weight:400px;"><b>{{name}}</b></h1>
            <p class="text-h5">{{job}}</p><br/>
            <div v-html="Desc"></div>
            <v-card-actions>
              <v-btn large dark color="#4BB462" class="mx-1 btn btn-primary mr-2 mb-3"><font color="white"><v-icon>mdi-arrow-right-bold-circle</v-icon>View Portfolio</font></v-btn>
              <v-btn large dark color="#6D6E71" class="btn btn-secondary mb-3"><v-icon>mdi-file-document</v-icon><font color="white">View Resume</font></v-btn>
            </v-card-actions>
          </v-col>
          <v-col class="col-12 col-md-5">
            <img src="logo.jpg" style="height:280px; width:380px; border-radius:5%;">
            </v-col>
        </v-row>
      </v-card>
    </div>
</template>

<style scoped>
  .home {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
</style>

<script>
export default {
    data: () => {
        return {
            drawer:null,
            name: 'Simon Doe',
            job: 'Senior Software Engineer',
            Desc:'I\'m a software engineer specialised in frontend and backend development  <br> for complex scalable web apps. I write about software development on <a style="color:#4BB462;"> my blog</a>. Want to know how I may help your project? Check out my project <a style="color:#4BB462;"> portfolio </a> and <a style="color:#4BB462;"> online resume</a>.',
            drawers: ['Default (no property)', 'Permanent', 'Temporary'],
            primaryDrawer: {
            model: null,
            type: 'default (no property)',
            clipped: false,
            floating: false,
            mini: false,
            },
        }
    }
}
</script>