<template>
    <div class="courses">
        <v-card elevation="0" flat class="px-12" rounded="0">
            <v-row class="px-3">
              <h2 class="line resume-section-heading mb-4 mt-4">What I Do</h2>
            </v-row>

            <div v-html="bio" bio mb-3></div>
                
            <v-row>
            <v-col class="col-12 col-md-3" v-for="post in posts" v-bind:key="post.id" all>
                <v-card class="mx-auto" max-width="" elevation="0">
                <v-avatar v-for="image in post.src" tile v-bind:key="image" size="40" style="border-radius:0;">
                    <v-img :src="image"></v-img>
                </v-avatar>
                <h4>{{post.title}}</h4>
                <p  style="font-size:13px;">{{title}}</p>
                </v-card>
            </v-col>
            </v-row>

            <v-row class="">
            <v-card elevation="0" class="mx-auto">
                <v-col :justify="center" :alignment="center">
                <p class="text-md-center mb-10"><v-btn large dark color="#4BB462" class="mx-1 btn btn-primary mr-2 mb-3" 
                style="alignment:center; justify:center;">
                <v-icon>mdi-arrow-right-bold-circle</v-icon><v-spacer></v-spacer>Services & Pricing</v-btn></p>
                </v-col>
            </v-card>
            </v-row>
            <v-divider class="px-0"></v-divider>
        </v-card>
        
    </div>
    
</template>

<style scoped>
    .line {
        border-left: 5px solid rgb(20, 156, 79);
        padding-left: 1rem;
        border-width: 0.2em;
    }

    .courses{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
</style>

<script>
  export default {
    data: () => {
      return {
        title: 'List skills/technologies here.You can change the icon above to any of tje 1500+ FontAwesome 5 free icons available. Aenean commodo ligula eget dolor.',
        bio: 'I have more than 10 years\' experience building software for clients all over the world. Below is a quick overview of my main technical skill sets and technlogies I use. Want to find out more about my experience? Check out my <a style="color:#4BB462;"> online resume </a> and <a style="color:#4BB462;"> project portfolio </a>.',
        posts: [
          {
            id: 1, 
            title: 'Vannila JavaScript', 
            src: ['java.png']
          },

          { 
            id: 2, 
            title: 'Angular, React & Vue' , 
            src: ['angularjs.png' , 'react.png', 'vue-js.png']
          },

          { 
            id: 3, 
            title: 'Node.js' , 
            src: ['nj.png']
          },

          { 
            id: 4, 
            title: 'Python & Django' , 
            src: ['python.png'] 
          },
          {
            id: 5, 
            title: 'PHP', 
            src: ['php.png']
          },

          { 
            id: 6, 
            title: 'npm, Gulp & Grunt' , 
            src: ['npm.png' , 'gulp.png', 'grunt.png']
          },

          { 
            id: 7, 
            title: 'HTML & CSS' , 
            src: ['html-5.png', 'css3.png']
          },

          { 
            id: 8, 
            title: 'Sass & LESS' , 
            src: ['sass.png', 'canvas.png'] 
          },
        ],

      }
    },
  }
</script>
