<template>
  <v-app id="sandbox">
    <sidebar/>
    <v-content >
      
      <router-view></router-view>
      <Footer />
    </v-content>
    

  </v-app>
</template>

<script>

import sidebar from "@/components/sidebar.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "App",

  components: {
    sidebar, Footer
  },
  theme: {
    dark: true
  },

  data: () => ({
    //
  })
};
</script>
